html, body {
  color: grey;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  font-family: 'Quicksand', sans-serif, bold;
  overflow: hidden; }

/* General */
.textColumn {
  border-left: .25vmin solid red;
  /* background-color: lightgrey; */
  margin: .5vmin;
  padding: .5vmin; }

#intro, #about, #contact, #projects {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  box-shadow: 20px;
  background-color: 0xff0ff0;
  text-align: center;
  color: black;
  font-size: 4vmin;
  /* font-family: Impact, Charcoal, sans-serif; */ }

#about {
  transition: left .75s;
  -webkit-transition: left .75s; }

#contact {
  transition: left .75s;
  -webkit-transition: left .75s; }

#projects {
  transition: top .75s;
  -webkit-transition: top .75s; }

#projects h1 {
  margin-bottom: 0px; }

.fullscreen {
  position: fixed; }

/* About */
#codeLine1, #codeLine2, #codeLine3 {
  position: absolute;
  transition: width 1s;
  -webkit-transition: width 1s;
  background-color: #000000;
  border-radius: 2vmin;
  left: 10%;
  width: 50%;
  height: 3%; }

#codeLine1 {
  top: 20%; }

#codeLine2 {
  top: 25%; }

#codeLine3 {
  top: 30%; }

@media screen and (orientation: portrait) {
  #pfPicture {
    left: 52%;
    top: 20%;
    height: 40vmin; } }
@media screen and (orientation: landscape) {
  #pfPicture {
    left: 70%;
    top: 8%;
    height: 45%; } }
#pfPicture {
  position: absolute;
  display: block;
  width: auto;
  border-radius: 3vmin; }

#aboutInfoLeft {
  position: absolute;
  top: 37%;
  width: 40%;
  left: 5%;
  font-size: 2.7vmin; }

#aboutInfoHorizontal {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 90%;
  font-size: 2.7vmin; }

/* Contact */
#contactIconContainer {
  position: absolute;
  margin: auto;
  display: block;
  top: 50%;
  left: 50%;
  margin: -15vmin 0 0 -35vmin;
  width: 70vmin;
  height: 30vmin; }

.contactIcons {
  width: auto;
  height: 12vmin;
  position: relative;
  margin: .8vmin;
  padding: .8vmin;
  transform: scale(0, 0);
  background-size: 100% 0%; }

.contactActive:hover {
  transform: translate(0, -2vmin); }

.contactActive {
  transition: transform .09s;
  transition-timing-function: ease-in;
  transform: translate(0, 0);
  transform: scale(1, 1); }

@keyframes bounceSubtle {
  0% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1); }
  20% {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1, 1); }
  28% {
    transform: scale(1.17, 1.17);
    -webkit-transform: scale(1.17, 1.17); }
  45% {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2); }
  60% {
    transform: scale(1.185, 1.185);
    -webkit-transform: scale(1.185, 1.185); }
  80% {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2); }
  85% {
    transform: scale(1.19, 1.19);
    -webkit-transform: scale(1.19, 1.19); }
  100% {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2); } }
@keyframes bounceIn {
  0% {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0); }
  40% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1); }
  57% {
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8); }
  75% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1); }
  85% {
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9); }
  94% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1); }
  98% {
    transform: scale(0.95, 0.95);
    -webkit-transform: scale(0.95, 0.95); }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1); } }
.popin {
  animation-name: bounceIn;
  animation-duration: .8s;
  transform: scale(1, 1); }

#projectViewerContainer {
  width: 80vw;
  height: 80vh;
  margin-left: 10vw;
  margin-top: 10vh;
  background-color: orange; }

.projectView {
  position: absolute;
  z-index: 2;
  background-color: red;
  width: 80vw;
  height: 80vh; }

@keyframes projectToCenter {
  from {
    transform: scale(0.35, 0.35);
    margin-left: 100%; }
  to {
    transform: scale(1, 1);
    margin-left: 0%; } }
@keyframes projectToLeft {
  from {
    transform: scale(1, 1);
    margin-left: 0%; }
  to {
    transform: scale(0.35, 0.35);
    margin-left: -100%; } }
.moveProjectCenter {
  animation: projectToCenter .8s; }

.moveProjectLeft {
  animation: projectToLeft .8s; }

.projectRight {
  transform: scale(0.35, 0.35);
  margin-left: 100%; }

.navButtons {
  position: absolute;
  background-color: #bb4646;
  border-color: black;
  border-style: solid;
  border-width: .005%;
  border-left: 0px;
  transition: all 1s; }

.navButtonHide, .navButtonHideInstant {
  transition: all .2s;
  width: 0vw;
  top: 40vh;
  height: 20vh;
  left: 0%;
  opacity: 0; }

.navButtonHideInstant {
  transition: none; }

.navButtonShow, .navButtonPeek:hover, .navButtonTransition {
  transition: all .45s;
  height: 100%;
  top: 0%;
  width: 2vw;
  border-top-right-radius: 150vmin;
  border-bottom-right-radius: 75vmin; }

.navButtonPeek {
  transition: all .2s;
  top: 40vh;
  width: 1vw;
  height: 20vh;
  left: 0%;
  border-top-right-radius: 20vmin;
  border-bottom-right-radius: 20vmin; }

.navButtonTransition {
  transition: all .75s;
  left: 100%; }

/*# sourceMappingURL=min.css.map */
