/* About */
#codeLine1, #codeLine2, #codeLine3 {
    position: absolute;
    transition: width 1s;
    -webkit-transition: width 1s;
    background-color: #000000;
    border-radius: 2vmin;
    left: 7vw;    

    width: 50%;
    height: 3%;

}

#codeLine1 {
    top: 20%;
}

#codeLine2 {
    top: 25%;
}

#codeLine3 {
    top: 30%;
}

@media screen and (orientation:portrait) {
    #pfPicture {
        left: 52%;
        top: 20%;
        height: 40vmin;
    }
}

@media screen and (orientation:landscape) { 
    #pfPicture {
        left: 65%;
        top: 8%;
        height: 45%;
    }
}

.textColumn {
    border-left: .25vmin solid red;
    
    text-align: left;

    margin: .2vmin;

    p {
        margin-left: 1vmin;
    }
}

#pfPicture {
    position: absolute;
    display: block;
    width: auto; 
    border-radius: 3vmin;
}

#aboutInfoLeft {
    position: absolute;
    top: 37vh;
    width: 40vw;
    left: 7vw;
    font-size: 2.7vmin;
}

#aboutInfoHorizontal {
    position: absolute;
    top: 70vh;
    width: 90vw;
    left: 7vw;
    font-size: 2.7vmin
}
