/* Contact */
#contactIconContainer {
    position: absolute;
    margin: auto;
    display: block;
    top: 50%;
    left: 50%;
    margin: -15vmin 0 0 -35vmin;
    width: 70vmin;
    height: 30vmin;
}

.contactIcons {
    width: auto;
    height: 12vmin;
    position: relative;
    margin: .8vmin;
    padding: .8vmin;
    transform: scale(0, 0);
    background-size: 100% 0%;    
}

.contactActive:hover {
    transform: translate(0, -2vmin);
}

.contactActive {
    transition: transform .09s;    
    transition-timing-function: ease-in;
    
    transform: translate(0, 0);    
    transform: scale(1, 1);
}

@keyframes bounceSubtle {
    0% { 
        transform: scale(1, 1); 
        -webkit-transform: scale(1, 1); 
    }
    20% { 
        transform: scale(1.2, 1.2); 
        -webkit-transform: scale(1, 1); 
    }
    28% { 
        transform: scale(1.17, 1.17); 
        -webkit-transform: scale(1.17, 1.17); 
    }
    45% { 
        transform: scale(1.2, 1.2); 
        -webkit-transform: scale(1.2, 1.2); 
    }
    60% { 
        transform: scale(1.185, 1.185);
        -webkit-transform: scale(1.185, 1.185);
    }
    80% { 
        transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
    }
    85% { 
        transform: scale(1.19, 1.19);
        -webkit-transform: scale(1.19, 1.19);
    }
    100% { 
        transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
    }
}

@keyframes bounceIn {
    0% { 
        transform: scale(0, 0); 
        -webkit-transform: scale(0, 0); 
    }
    40% { 
        transform: scale(1, 1); 
        -webkit-transform: scale(1, 1); 
    }
    57% { 
        transform: scale(.8, .8); 
        -webkit-transform: scale(.8, .8); 
    }
    75% { 
        transform: scale(1, 1); 
        -webkit-transform: scale(1, 1); 
    }
    85% { 
        transform: scale(.9, .9);
        -webkit-transform: scale(.9, .9);
    }
    94% { 
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
    98% { 
        transform: scale(.95, .95);
        -webkit-transform: scale(.95, .95);
    }
    100% { 
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
}

.popin {
    animation-name: bounceIn;
    animation-duration: .8s;
    transform: scale(1, 1);    
}
