html, body {

color: grey;
margin: 0px;
padding: 0px;
left: 0px;
top: 0px;
font-family: 'Quicksand', sans-serif, bold;

}

/* General */

.textColumn {
    border-left: .25vmin solid red;
    /* background-color: lightgrey; */
    margin: .5vmin;
    padding: .5vmin;
}

#intro, #about, #contact, #projects {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
    box-shadow: 20px;

    background-color: 0xff0ff0;

    text-align: center;
    color: black;
    font-size: 4vmin;
    /* font-family: Impact, Charcoal, sans-serif; */

}

#about {
    transition: left 1s;
    -webkit-transition: left 1s;
}   

#contact {
    transition: left 1s;
    -webkit-transition: left 1s;    
}

#projects {
    transition: top 1s;
    -webkit-transition: top 1s;
}

#projects h1 {
    margin-bottom: 0px;
}

.fullscreen {
    position: fixed;
}

@import 'about';

@import 'contact';

@import 'projects';